#_minVar, #_maxVar {
	max-width: 180px;	
}

#_sphere{
	max-width: 320px;
}

#_colorMap{
	max-width: 100px;
}

#_calcButton{
	min-width: 200px;
}

#_mapVarsList{
	max-width: 150px;
}

#_scale{
	max-width: 85px;
}

#_higherValues{
	max-width: 120px;
}
#_mapvars{
	max-width: 120px;
}