#_heatMapMinVar, #_heatMapMaxVar {
	max-width: 180px;	
}

#_sphere{
	max-width: 320px;
}

#_heatmapColor{
	max-width: 170px;
}

#_calcButton{
	min-width: 200px;
}

#_heatmapVarsList{
	max-width: 150px;
}


#_heatmapHigherVarsValues{
	max-width: 120px;
}
#_heatmapVars{
	max-width: 120px;
}

#_scene_objects{
	max-height: 140px;
}

#_scene_opengl QGLWidget{
	height: 1000px;
}

#_scene_bg_color{
	max-width: 230px;
}


#_scene_points_size{
	max-width: 120px;
}

#_scene_obj_color{
	max-width: 500px;
}